.conten{

width: 26%;
    margin-top: 10%;
    margin-left: 37%;
    border-radius: outset 20px !important;
    border: outset 1px;
    padding: 2%;
    border-radius: 10px;
    background-color: #80808061;

  }
.backg{
  background-color: #80808005;
}
.fields{
	width: 70%;
    margin-left: 10%;
    margin-top: 3%;
}
.foot{
	width: 64%;
}
.topfield{
        margin-top: 5%;
}
.tablenew{
        margin-top: 2%;
}

.simple-tabs-carousel-container{
    margin: auto;
    max-height: auto;
    background: grey;
    overflow: hidden;
    max-width: 300px;
    position: relative;
    &:after, &:before {
        display:block;
        height:0px;
        width:100%;
        clear: both;
        content: '';
        padding: 10px;
    }
    .tab-previous, {
        height: 100%;
        position: absolute;
        left: 0px;
    }
    .tab-next {
        right: 0px;
        position: absolute;
        float: right;
    }
    .tabs-container {
        width: 200px;
        margin: auto;
        overflow: hidden;
    }
    .simple-tabs {
        float: left;
        width: 500%;
        list-style: none;
        overflow: hidden;
        transition: transform 1s ease-out;
        .tab {
            width: 50px;
            text-align: center;
            float: left;
            background: white;
            &.active {
                background: skyblue;
            }
        }
    }
}

.borderless td, .borderless th {
    border: none;
}