 <div class="row">
 	<div class="col-md-12">
 		<div class="portlet light bordered">
 				 <div class="portlet-body">

 				 <form name=patientProfile>

 				 	<fieldset class="fields">
 				 		<legend>Profile</legend>
		 				 	<div class="row">
		 				 		<div class="form-group">
		 				 			<div class="col-sm-3">Name</div>
		 				 			<div class="col-sm-6">
		 				 				<input only-letters-input type="text" class="form-control" id="name" name="name" ng-model="pat.name">
		 				 			</div>
		 				 		</div><br><br>
		 				 		<div class="form-group">
		 				 			<div class="col-sm-3">Email</div>
		 				 			<div class="col-sm-6">
		 				 				<input type="email" class="form-control" id="email" name="email" ng-model="pat.email" required />

										<span ng-show="patientProfile.email.$touched && signForm.email.$invalid" style="color: red;">The name is required.</span>

                            			<span ng-show="patientProfile.email.$error.email" style="color: red">Please enter valid email</span>  

		 				 			</div>
		 				 		</div><br><br>
		 				 		<div class="form-group">
		 				 			<div class="col-sm-3">Mobile No</div>
		 				 			<div class="col-sm-6">
		 				 				<input type="text" class="form-control" id="phoneno" name="phoneno" ng-model="pat.phoneno" ng-pattern= "/^[7-9][0-9]{9}$/"  required />

		 				 				<span ng-show="patientProfile.phoneno.$error.required && patientProfile.phoneno.$touched" style="color: red;">This field is required</span>

                     					 <span ng-show="patientProfile.phoneno.$error.pattern" style="color:red;">Invalid Mobile No</span>

		 				 			</div>
		 				 		</div><br><br>
		 				 		<div class="form-group">
		 				 			<div class="col-sm-3">Address</div>
		 				 			<div class="col-sm-6">
		 				 				<input type="text" class="form-control" id="address" name="address" ng-model="pat.address" required />

		 				 				<span ng-show="patientProfile.address.$error.required && patientProfile.address.$touched" style="color:red;">This field is required</span>

		 				 			</div>
		 				 		</div><br><br>
		 				 		<div class="form-group">
		 				 			<div class="col-sm-3">User Name</div>
		 				 			<div class="col-sm-6">
		 				 				<input type="text" class="form-control" id="username" name="username" ng-model="pat.username" required />

		 				 				 <span ng-show="patientProfile.username.$error.required && patientProfile.username.$touched" style="color:red;">This field is required</span>

		 				 			</div>
		 				 		</div><br><br>
		 				 		<!-- <div class="form-group">
		 				 			<div class="col-sm-3">Password</div>
		 				 			<div class="col-sm-6">
		 				 				<input type="password" class="form-control" id="upassword" name="upassword" ng-model="upassword">
		 				 			</div>
		 				 		</div><br><br>
		 				 		<div class="form-group">
		 				 			<div class="col-sm-3">Confirm Password</div>
		 				 			<div class="col-sm-6">
		 				 				
		 				 				<input type="password" class="form-control" id="password" name="password" ng-model="pat.password">
		 				 			</div>
		 				 		</div><br><br> -->
		 				 		<div class="form-group">
		 				 			<div class="col-sm-3">Birth Date</div>
		 				 			<div class="col-sm-6">
		 				 				     <div class="input-group date" id="dateofbirth">
                   							 	<input type='text' ng-model="pat.dateofbirth" class="form-control"  required />
                    					<span class="input-group-addon">
                        					<span class="glyphicon glyphicon-calendar"></span>
               	     					</span>
              					  </div>
		 				 		</div>
		 				 		</div>
		 				 		


		 				 		
		 				 	</div>
 				 	</fieldset><br>
 				 	<div class="modal-footer foot">
              			<button type="button" class="btn btn-primary" ng-click="updatePatient(pat)" ng-disabled="patientProfile.$invalid" data-dismiss="modal">Update</button>
          				<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
       				</div>
       			</form>
			</div>
		</div>
	</div>
</div>

 <!-- <script type="text/javascript">
      // $(function () {
      //           $('#dateofbirth').datetimepicker();
      //       });
       
        $(document).ready(function(){
        var date_input=$('input[name="dateofbirth"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
         date_input.datepicker({
            format: 'yyyy-dd-mm',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })

  </script> -->

  <script type="text/javascript">
  	
	// $('#datetimepicker').data("DateTimePicker").FUNCTION()
  	 $(function () {
                $("#dateofbirth").datepicker({
                	format:'yyyy-mm-dd',
                	autoclose:true,
                });
            });

  	   // $("#datepic").datetimepicker();
     //    format: "dd MM yyyy - hh:ii",
     //    autoclose: true,
     //    todayBtn: true,
     //    startDate: "2013-02-14 10:00",
     //    minuteStep: 10
    	// });
  	
	
  </script>