<h3 class="page-title">
	
</h3>
<div class="page-bar" >
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
            <i class="fa fa-angle-right"></i>
			<a href="#/ng_pescription.html">Doctor Pescription</a>
			
		</li>
		
	</ul>
	
</div>

<div class="row" >
    <div class="col-md-12">
            <div class="portlet light bordered">
                    <div class="portlet-body">
                           <!--  
                            <div class="col-md-6">
                                    <button ng-click="refreshNgTable()" class="btn btnradius">{{(showFilter)?"Remove Filter":"Show Filter"}}</button>
                            </div><br> -->
                            <div class="row">

                                <table class="table table-bordered tablenew" show-filter="showFilter">
                                	<tr>
                                		<th>Name</th>
                                		<th>Appointment ID</th>
                                		<th>Date</th>
                                		<th>Doctor Name</th>
                                		<th>Hospital Name</th>
                                		<th>Doctor Pescription</th>
                                		
                                	</tr>

                                        <tr ng-repeat="pes in doctorPescription">
                                          <td data-title="'Patient Name'" filter="{ 'patientId': 'text'}" sortable="'patientId'">
                                         
                                              {{pes.patientId.name}}
                                            </td>

                                            <td data-title="'Appointment ID'" filter="{ 'appointmentId': 'text'}" sortable="'appointmentId'">
                                       
                                              {{pes.appointmentId._id}}
                                            </td>

                                            <td data-title="'Appointment Date'" >
                                      
                                              {{pes.appointmentId.date}}
                                            </td>
                                            <td data-title="'Doctor Name'" >
                                      
                                              {{pes.doctorId.name}}
                                            </td>
                                            <td data-title="'Horspital Name'" >
                                      
                                              {{pes.hospitalId.name}}
                                            </td>
                                             <td data-title="'Description'">
                                        
                                              {{pes.description}}
                                            </td>                                       
                                           
                                                
                                        </tr>
                                </table>


                            </div>

                    </div>
            </div>

    </div>
 </div>