<h3 class="page-title">
  
</h3>
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
            <i class="fa fa-angle-right"></i>
      <a href="#/ng_checkup.html">CheckUp</a>
      
    </li>
    
  </ul>
  
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SPINNER -->
<div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
 </div>

 <div class="row">
 	<div class="col-md-12">
 		<div class="portlet light bordered">
 				 <div class="portlet-body">
						 		<!-- <div class="col-md-6">
						 			<button ng-click="refreshNgTable()" class="btn btnradius">{{(showFilter)?"Remove Filter":"Show Filter"}}</button>
						 		</div> -->
								<div class="row">
									 <table ng-table="tableParams" class="table table-bordered" show-filter="showFilter">
									 	<tr>
									 			<th>Appointment ID</th>
									 			<th>Date</th>
									 			<th>Hospital Name</th>
									 			<th>Doctor Name</th>
									 			<th>Description</th>
									 			<th>Upload Test</th>
                        <th>Uploaded Files</th>
                        <th>Download</th>
									 	</tr>
				                        <tr ng-repeat="app in appointmentList">	

				                        	<td data-title="'Appointment ID'" filter="{ '_id': 'text'}" sortable="'_id'">{{app._id}}</td>
				                        	<td data-title="'Date'" filter="{ 'date': 'text'}" sortable="'date'">{{app.date}}</td>           
				                        	<td data-title="'hospital'" filter="{ 'hospital': 'text'}" sortable="'hospitalId.name'">{{app.hospitalId.name}}</td>
					                          <td data-title="'doctor'" filter="{ 'doctor': 'text'}" sortable="'doctor'">{{app.doctorId.name}}</td>
					                           <td data-title="'disease_description'" filter="{ 'disease_description': 'text'}" sortable="'disease_description'">{{app.disease_description}}</td>
					                           <td data-title="'Upload test'" >
                                 				<button type="button" class="btn btn-primary btnradius " data-toggle="modal" ng-click="postApid(app._id)" data-target="#myModal">Upload</button>
                                 			 </td>	
                                        <td data-title="'Uploaded Files'">
                                          <button type="button" class="btn btn-link" ng-click=printDoc(app._id)>{{app.original_Name}}
                                          <button type="button" class="btn btn-link" ng-click="removeFileName(app._id,app.fileName)"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        </button>
                                        </td>
                                        <td>
                                          <select class="form-control" ng-model="selectedFile">
                                            <option value="">Select</option>
                                            <option value="http://localhost:8081/uploads/{{app.fileName}}">{{app.original_Name}}</option>
                                          </select>
                                          <file-download fileurl="{{selectedFile }}" linktext="Click to download"></file-download>

                                 		</tr>
                                    
                                       
                                  
			                    </table>
						</div>
					</div>
 			</div>
 	</div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Test</h4>
        </div>

        <form name="uploads" id="uploaddoc">
        <div class="modal-body">
          
                	<div class="row">
                		<div class="form-group">
                			<div class="col-sm-4">Test Name</div>
                    			<div class="col-sm-8">
                        				<select name="test" id="test" class="form-control" ng-model="up.testName">
                        					<option value=" ">Select</option>
                                  <option value="test1">Test1</option>
                        					<option value="test2">Test2</option>
                        				</select>
            					   </div>
                		</div> <br><br>
                    <div class="form-group">
                      <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                          <div class="input-group input-file"  name="updoc" id="file">
                                <span class="input-group-btn">
                                     <button class="btn btn-warning btn-reset" type="button">Reset</button>
                                </span>
                                  <input type="text" class="form-control" id="file" placeholder='Choose a file...' />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-choose" type="button" >Choose</button>
                                </span>
                                
                            </div>
                          </div>
                          <div class="form-group">
                            <div id="fileList">
                              
                            </div>
                          </div>
                         
                         <!-- <div class="form-group input-file">
                            <input type="file" class="form-control" id="file" 
                              name="updoc" multiple="true">
                        </div> -->
                       </div>
                	</div>
                </div>
              </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" ng-click="postPatientData(up)" data-dismiss="modal">Upload</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>

       </form>
       
      </div>
    </div>
  </form>
</div>    
<script>

    function bs_input_file() {
  $(".input-file").before(
    function() {
      if ( ! $(this).prev().hasClass('input-ghost') ) {
        var element = $("<input type='file' multiple='true' name='file' class='input-ghost' style='visibility:hidden; height:0' >");
        element.attr("name",$(this).attr("name"));
        element.change(function(){
          element.next(element).find('input').val((element.val()).split('\\').pop());
        });
        $(this).find("button.btn-choose").click(function(){
          element.click();
        });
        $(this).find("button.btn-reset").click(function(){
          element.val(null);
          $(this).parents(".input-file").find('input').val('');
        });
        $(this).find('input').css("cursor","pointer");
        $(this).find('input').mousedown(function() {
          $(this).parents('.input-file').prev().click();
          return false;
        });
        return element;
      }
    }
  );
}
$(function() {
  bs_input_file();
});

updateList = function() {
  var input = document.getElementById('file');
  var output = document.getElementById('fileList');

  output.innerHTML = '<ul>';
  for (var i = 0; i < input.file.length; ++i) {
    output.innerHTML += '<li>' + input.file.item(i).name + '</li>';
  }
  output.innerHTML += '</ul>';
}
$(document).on('ready', function() {
    $(".input-file").fileinput({
        showPreview: false,
        showUpload: true,
        elErrorContainer: '#kartik-file-errors',
        allowedFileExtensions: ["jpg", "png", "gif"]
        //uploadUrl: '/site/file-upload-single'
    });
});
</script>
