<div class="logo backg">
    
    
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content backg" ng-controller="loginCtrl">
    <!-- BEGIN LOGIN FORM -->
    <div class="contriner conten">
    <form name="myForm" class="login-form " novalidate="novalidate" ng-submit="doLogin()">
        <h2 class="form-title font-green " style="color: #6ea2dabf;"><center>Sign In</center></h2>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" placeholder="Username" name="username" ng-model="userData.username" required>
            <div ng-messages="myForm.username.$error" ng-show="myForm.username.$touched || myForm.$submitted">
                <small class="text-danger" ng-message="required">Username is required</small>

            </div>
            <span ng-show="myForm.username.$error.email" style="color: red">Please enter email</span> 
        </div>
        
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" ng-model="userData.password" ng-minlength="4" ng-maxlength="8" required>
            <div ng-messages="myForm.password.$error" ng-show="myForm.password.$touched || myForm.$submitted">
                <small class="text-danger" ng-message="required">Password is required</small>
            </div>
            <span ng-show="myForm.password.$error.minlength" style="color:red;">Too Short</span>
            <span ng-show="myForm.password.$error.maxlength" style="color:red;">Too Long</span>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-success " ng-disabled=myForm.$invalid>Login</button>
            <button type="button" class="btn btn-success" data-target="#myModal"  data-toggle="modal" >SignUp</button>
           <!--  <button type="submit" class="btn orange uppercase" ui-sref="register">New to us?</button> -->
            <!-- <a ui-sref="forgot" id="forget-password" class="forget-password">Forgot Password?</a> -->
        </div>
    </form>
</div>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
   <!--  <form class="forget-form" action="index.html" method="post" novalidate="novalidate">
        <h3 class="font-green">Forget Password ?</h3>
        <p> Enter your e-mail address below to reset your password. </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"> </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
        </div>
    </form> -->
    <!-- END FORGOT PASSWORD FORM -->
</div>
<div class="copyright"> <span style="font-size:15px; margin-left: 46%;">2017 © CSD.</span> </div>




<div class="modal fade" id="myModal" role="dialog" ng-controller="loginCtrl">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">SignUp</h4>
        </div>
        <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
            <form name="signForm" >
                    <div class="form-group">
                            <div class="col-sm-4">Name</div>
                            <div class="col-sm-8">
                                <input only-letters-input type="text" class="form-control" name="name" ng-model="signup.name" id="name"  />
                              <span ng-show="signForm.name.$touched && signForm.name.$invalid" style="color: red;">The name is required.</span>
                            </div>
                    </div><br><br><br>

                    <div class="form-group">
                            <div class="col-sm-4">Email Address</div>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" id="email" ng-model="signup.email" required />

                                  <span ng-show="signForm.email.$touched && signForm.email.$invalid" style="color: red;">The name is required.</span>
                            <span ng-show="signForm.email.$error.email" style="color: red">Please enter valid email</span>   
                            </div>
                    </div><br><br>
                    <div class="form-group">
                            <div class="col-sm-4">Mobile No</div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="phoneno" id="phoneno" ng-model="signup.phoneno" ng-pattern= "/^[7-9][0-9]{9}$/"  required />

                                <span ng-show="signForm.phoneno.$error.required && signForm.phoneno.$touched" style="color: red;">This field is required</span>
                      <span ng-show="signForm.phoneno.$error.pattern" style="color:red;">Invalid Mobile No</span>
                            </div>
                    </div><br><br>
                    <div class="form-group">
                            <div class="col-sm-4">Address</div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="address" id="address" ng-model="signup.address" required />

                                <span ng-show="signForm.address.$error.required && signForm.address.$touched" style="color:red;">This field is required</span>
                            </div>
                    </div><br><br>
                    <div class="form-group">
                            <div class="col-sm-4">Username</div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="username" id="username" ng-model="signup.username" required />

                                <span ng-show="signForm.username.$error.required && signForm.username.$touched" style="color:red;">This field is required</span>
                            </div>
                    </div><br><br>
                    
                    <div class="form-group">
                            <div class="col-sm-4">Password</div>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="password" id="password" ng-model="signup.password" ng-minlength="6" ng-maxlength="10" ng-pattern="/^[a-zA-Z0-9]*$/" required />

                                 <span ng-show="signForm.password.$error.required && signForm.password.$touched" style="color: red;">This field is required</span>
                          <span ng-show="signForm.password.$error.minlength" style="color:red;">Too Short</span>
                          <span ng-show="signForm.password.$error.maxlength" style="color:red;">Too Long</span>
                            </div>
                    </div><br><br>

                     <div class="form-group">
                            <div class="col-sm-4">Birth Date</div>
                            <div class="col-sm-8">
                                    <div class='input-group date' id='dateofbirth'>
                                        <input class="form-control" id="dateofbirth" name="dateofbirth" type="text" ng-model="signup.dateofbirth" required />
                                         <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                   <!--  <div class="input-group input-medium date date-picker-birth">
                                                     <input type="text" class="form-control" ng-model="signup.dateofbirth" uib-datepicker-popup="{{format}}" style="width:231px;" id="date" is-open="popup_date.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly/>
                                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="signDate()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                    </div> -->
                            </div>
                    </div><br><br>
                    <div class="form-group">
                            <div class="col-sm-4">Gender</div>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="signup.gender">
                                    <option value="">Select</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>

                             
                            </div>
                    </div><br><br>
                     <div class="form-group">
                            <div class="col-sm-4">Blood Group</div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="bloodgroup" id="bloodgroup" ng-model="signup.bloodgroup" required
                                 />
                            </div>
                    </div><br><br>
                    
        </form>
                    

            </div>

        </div>
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="signPatient(signup)" ng-disabled="signForm.$invalid" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
       $(function () {
                $('#dateofbirth').datepicker({
                    format:'yyyy-mm-dd',
                    autoclose:true,
                });
            });

  </script>