<div class="row">
 	<div class="col-md-12">
 		<div class="portlet light bordered">

 			<!-- <div class="row topfield">
 				<div class="col-md-6">
		 						<button type="button" class="btn btn-info btnradius " data-toggle="modal" data-target="#myModal">Add Appointmant</button>
		 		</div>
		 		<div class="col-md-6">
		 					<button ng-click="refreshNgTable()" class="btn btnradius">{{(showFilter)?"Remove Filter":"Show Filter"}}</button>
		 		</div>
		 	</div> -->
		 	<!-- <br><br><br>
		 	<div class="col-sm-2">Doctor Name</div>
				<div class="col-sm-4">
					<select class="form-control" ng-model="did" ng-change="selectActionforDoc()" >
						<option value="">Select</option>
						<option ng-repeat="d in doctorList " value="{{d._id}}">{{d.name}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-2">Hospital Name</div>
				<div class="col-sm-4">
					<select class="form-control" ng-model="hid" ng-change="selectActionforHos()" >
						<option value="">Select</option>
						<option ng-repeat="h in hospitals" value="{{h._id}}">{{h.name}}</option>
					</select>
				</div>
			</div> -->
             
             <div class="portlet-body">
 			 <table class="table borderless" style="margin-top: 5%;">
 			 	<form name="appointfrm">
 			 	<tr>
 			 			<th><center>Doctor Name</center></th>
 			 			<th><center>Select Date</center></th>
 			 			<th><center>Hospital Name</center></th>
 			 			<th></th>
 			 	</tr>
 			 	<tr>
 			 		<td>
        		 	
        				<div >
        					<select class="form-control" ng-model="app.doctorId" required >
        						<option value="">Select</option>
        						<option ng-repeat="d in doctorList " value="{{d._id}}">{{d.name}}</option>
        					</select>
        				</div>
        			</td>
        			<td>
        				<div >
        					<select class="form-control" ng-model="app.date" required >
        						<option value="">Select</option>
        						<option ng-repeat="date in dateList" value="{{date._id}}">{{date.name}}</option>
        					</select>
        				</div>
        			
        			
        			</td>
        			<td>
        					<div >
        					<select class="form-control" ng-model="app.hospitalId" required >
        						<option value="">Select</option>
        						<option ng-repeat="h in hospitals" value="{{h._id}}">{{h.name}}</option>
        					</select>
        				</div>
        				
        			</td>
        		</form>
        			<td>
                        <div >
                            <button type="button" ng-disabled="appointfrm.$invalid" class="btn btn-success" ng-click="getValue(app)">Submit</button>
                        </div>
                 	</td>
                 </tr>
			</table><br><br>
      <!--   </div> -->

                        <!-- <div class="row">
                            <div class="col-md-12">
                    			<table class="table" ng-show="appointment">
                    				<tr>
                    					<td><b>Sunday</b>&nbsp;</td>
                    					<td ng-repeat="s in appointment.days.Sunday">
                    						<button class="btn btn-info" ng-click="app_values(s.start,s.index,0)" data-toggle="modal" data-target="#myModal" ng-disabled='{{s.flag}}'>{{s.start}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    					</td>
                    				</tr>
                    				<tr>
                    					<td><b>Monday</b>&nbsp;</td>
                    					<td ng-repeat="s in appointment.days.Monday">
                    						<button class="btn btn-info" ng-click="app_values(s.start,s.index,1)" data-toggle="modal" data-target="#myModal" ng-disabled='{{s.flag}}'>{{s.start}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    					</td>
                    				</tr>
                    				<tr>
                    					<td><b>Tuesday</b>&nbsp;</td>
                    					<td ng-repeat="s in appointment.days.Tuesday">
                    						<button class="btn btn-info" ng-click="app_values(s.start,s.index,2)" data-toggle="modal" data-target="#myModal" ng-disabled='{{s.flag}}'>{{s.start}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    					</td>
                    				</tr>
                    				<tr>
                    					<td><b>Wednesday</b>&nbsp;</td>
                    					<td ng-repeat="s in appointment.days.Wednesday">
                    						<button class="btn btn-info" ng-click="app_values(s.start,s.index,3)" data-toggle="modal" data-target="#myModal" ng-disabled='{{s.flag}}'>{{s.start}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    					</td>
                    				</tr>
                    				<tr>
                    					<td><b>Thursday</b>&nbsp;</td>
                    					<td ng-repeat="s in appointment.days.Thursday">
                    						<button class="btn btn-info" ng-click="app_values(s.start,s.index,4)" data-toggle="modal" data-target="#myModal" ng-disabled='{{s.flag}}'>{{s.start}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    					</td>
                    				</tr>
                    				<tr>
                    					<td><b>Friday</b>&nbsp;</td>
                    					<td ng-repeat="s in appointment.days.Friday">
                    						<button class="btn btn-info" ng-click="app_values(s.start,s.index,5)" data-toggle="modal" data-target="#myModal" ng-disabled='{{s.flag}}'>{{s.start}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    					</td>
                    				</tr>
                    				<tr>
                    					<td><b>Saturday</b>&nbsp;</td>
                    					<td ng-repeat="s in appointment.days.Saturday">
                    						<button class="btn btn-info" ng-click="app_values(s.start,s.index,6)" data-toggle="modal" data-target="#myModal" ng-disabled='{{s.flag}}'>{{s.start}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    					</td>
                    				</tr>
                    			</table>
                         </div>
                     </div> -->
                </div>
            </div>
        </div>
    </div>

		 	
 	

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Appointment</h4>
			</div>
			<div class="modal-body">
				<form name="doctorfrm">
					<div class="form-group">
						<div class="col-sm-4">Doctor</div>
						<div class="col-sm-6">
							<input type="text" name="dname" class="form-control" ng-model="doctorId" value="{{doctorId}}" readonly />
						</div>
					</div><br><br><br>

					<div class="form-group">
						<div class="col-sm-4">Hospital</div>
						<div class="col-sm-6">
							<input type="text" name="hname" class="form-control" ng-model="hospitalId" value="{{hospitalId}}" readonly />
						</div>
					</div><br><br>

					<!-- <div class="form-group">
						<div class="col-sm-4">Date</div>
						<div class="col-sm-6">
							<input type="text" name="hname" class="form-control" ng-model="hospitalId" value="{{hospitalId}}" readonly />
						</div>
					</div><br><br> -->

					<div class="form-group">
						<div class="col-sm-4">Start Time</div>
						<div class="col-sm-6">
							<input type="text" name="start" class="form-control" ng-model="start" value="{{start}}" readonly></input>
						</div>
					</div><br><br>

					<div class="form-group">
						<div class="col-sm-4">End Time</div>
						<div class="col-sm-6">
							<input type="text" name="end" class="form-control" ng-model="end" value="{{end}}" readonly></input>
						</div>
					</div><br><br>

					<div class="form-group">
						<div class="col-sm-4">Date</div>
						<div class="col-sm-6">
							<input type="text" name="date" class="form-control" value="{{app_date}}" readonly></input>
						</div>
					</div><br><br>

					<div class="form-group">
						<div class="col-sm-4">Disease Description</div>
						<div class="col-sm-6">
							<textarea name="disease_description" class="form-control" id="disease_description" ng-model="app.disease_description" rows="2"></textarea>
						</div>
					</div><br><br>
				</form>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-primary" ng-click="postAppointment(app,start,end)" data-dismiss="modal" >Save</button>
				<button type="button" class="btn btn-default" ng-click="getClear()" data-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div> 