<h3 class="page-title">
	
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
            <i class="fa fa-angle-right"></i>
			<b>Appointment List</b>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SPINNER -->
<div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
 </div>

 <div class="row">
 	<div class="col-md-12">
 		<div class="portlet light bordered">
 				 <div class="portlet-body">
						 		<!-- <div class="col-md-6">
						 			<button ng-click="refreshNgTable()" class="btn btnradius">{{(showFilter)?"Remove Filter":"Show Filter"}}</button>
						 		</div> -->
								<div class="row">
									 <table ng-table="tableParams" class="table table-bordered" show-filter="showFilter">
									 	<tr>
									 			<th>Appointment ID</th>
									 			<th>Date</th>
									 			<th>Hospital Name</th>
									 			<th>Doctor Name</th>
									 			<th>Description</th>
									 			<th>Start Time</th>
									 			<th>End Time</th>
									 			<th>Status</th>
									 	</tr>
				                        <tr ng-repeat="app in appointmentList">	

				                        	<td data-title="'Appointment ID'" filter="{ '_id': 'text'}" sortable="'_id'">{{app._id}}</td>
				                        	<td data-title="'Date'" filter="{ 'date': 'text'}" sortable="'date'">{{app.date}}</td>           
				                        	<td data-title="'hospital'" filter="{ 'hospital': 'text'}" sortable="'hospitalId.name'">{{app.hospitalId.name}}</td>
					                          <td data-title="'doctor'" filter="{ 'doctor': 'text'}" sortable="'doctor'">{{app.doctorId.name}}</td>
					                           <td data-title="'disease_description'" filter="{ 'disease_description': 'text'}" sortable="'disease_description'">{{app.disease_description}}</td>
					                           <td data-title="'start'" filter="{ 'start': 'text'}" sortable="'start'">{{app.start}}</td>
					                           <td data-title="'end'" filter="{ 'end': 'text'}" sortable="'end'">{{app.end}}</td>
					                          <td data-title="'Status'" >
                                 				{{app.status}}
                                 				
                                 		  </td>
                                 		</tr>
			                    </table>
						</div>
					</div>
 			</div>
 	</div>
</div>

